article {
    width: 100%;
    background-color: ghostwhite;
    padding-bottom: 30px;
    padding-top: 30px;
}

.video-section {
    margin: 0 auto;
    width: 70%;
}

.video-section h4 {
    color: darkseagreen;
    font-size: 25px;
    line-height: 45px;
    border-bottom: 3px solid darkseagreen;
}

.video-description {
    display: inline-block;
    width: 31%;
    padding: 0px 50px 50px 0px;
    vertical-align: top;
}

.video-description p{
    font-size: 20px;
    
}
.video-container {
    display: inline-block;
    width: 30%;
}