<!DOCTYPE html>
<html class="no-js" lang="">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
  crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Fundatia Bucuria Copiilor</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="public/fonts/ZsyraphDemo.ttf" rel="stylesheet">
  <link rel="stylesheet" href="public/style/styles.css">
  <link rel="stylesheet" href="public/style/about.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300|Raleway&display=swap" rel="stylesheet">
</head>

<body>
    <%- include navbar.ejs %>
  <div class="header">
    <!-- <div class="header-text">
      <h1>Implicare. Daruire. Spreanta</h1>
    </div> -->
  </div>
  <article class="hire introduction about-us">
    <div>
      <div style="text-align:left">
        <div class="about-title">
          <h3>DESPRE NOI</h3>
        </div>
        <div class="about-content">
          <p>
            Asociatia Annah este o organizatie romana neguvernamentala, non-profit, care a luat fiinta in anul 2011 la initiativa unui
            grup de voluntari, care si-au propus sa aduca schimbare in vietile semenilor lor. Prin actiunile umanitare desfasurate
            ne propunem sa amelioram situatiile unor categorii sociale defavorizate.
          </p>

          <p>
            Ne ocupam cu integrarea sociala a copiilor ce provin din familii nevoiase, a caror situatie socio-economica precara ii expune
            la un risc ridicat de abandon scolar si familial care va duce mai apoi la marginalizare si excluziune sociala.
          </p>
        </div>
        <article>
          <div class="video-section">
            <div class="video-description">
              <h4>MISIUNE</h4>
              <p> Am decis sa aducem schimbare in prezentul lor si speranta intr-un viitor mai bun in care sa inceapa sa creada
              </p>
            </div>
            <div class="video-container">
              <video max-width="100%" controls>
                <source src="public/images/presentation_video_ro.mp4" type="video/mp4">
              </video>
            </div>
        </article>

        <div class="about-content">
          <h4> MUNCA NOASTRA</h4>
          <p> In urma anchetelor sociale intervenim in mod regulat sau sporadic cu ajutor umanitar (alimente, imbracaminte, incaltaminte,
            medicamente, rechizite, etc.) pentru persoanele aflate in situatii limita. Sustinem peste 100 de copii prin proiectul
            Centrul de zi Bucuria Copiilor asigurandu-le o masa calda, dezvoltare pesonala si educatie nonformala atat pentru
            evitarea abandonului familial si scolar cat si pentru integrare sociala.
          </p>
          <p>
            Organizam tabere de vara cu acesti copii cu momente unice si marcante pentru copilaria lor. Cu ocazia sarbatorilor de Craciun
            si Paste oferim cadouri pentru oamenii nevoiasi.
          </p>
          <div class="beneficiar">
            <div class="beneficiar-description">
              <h4> BENEFICIARI </h4>
              <p> Persoane aflate in dificultate, la limita subzistentei indiferent de varsta si sex. Copiii care sunt: </p>
              <ul>
                <li>in familii fara adapost sau cu un adapost incert si inadecvat</li>
                <li> din familii monoparentale si/sau cu multi copii</li>
                <li> cu un nivel redus de educatie</li>
                <li>care se confrunta cu o saracie severa, singura lor sursa de venit fiind alocatia copiilor</li>
                <li>copii din familii in care violenta, abandonul scolar si familial, consumul de diferite tipuri de droguri
                  sunt frecvente
                </li>
              </ul>
            </div>

          </div>
        </div>
        </div>
        <article>
          <div class="beneficiar-image">
            <img src="/public/images/header1.png" width="auto" height="112px">
          </div>
          <div class="beneficiar-image">
            <img src="/public/images/painting.png" width="auto" height="112px">
          </div>
          <div class="beneficiar-image">
            <img src="/public/images/centre.png" width="auto" height="112px">
          </div>
          <div class="beneficiar-image">
            <img src="/public/images/care-center.jpg" width="200px" height="112px">
          </div>
      </div>
      </article>
  </article>

  <%- include footer.ejs %>
    <script src="/public/jquery.min.js"></script>
    <script src="/public/bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
    <script src="/public/script.js"></script>
</body>