<!DOCTYPE html>
<html class="no-js" lang="">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
  crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Fundatia Bucuria Copiilor</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="public/fonts/ZsyraphDemo.ttf" rel="stylesheet">
  <link rel="stylesheet" href="public/style/styles.css">
  <link rel="stylesheet" href="public/style/about.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300|Raleway&display=swap" rel="stylesheet">
</head>

<body>
  <%- include navbar.ejs %>
    <div class="header">
      <!-- <div class="header-text">
      <h1>Implicare. Daruire. Spreanta</h1>
    </div> -->
    </div>
    <article class="hire introduction about-us">
      <div>
        <div style="text-align:left">
          <div class="about-title">
            <h3>DESPRE NOI</h3>
          </div>
          <div class="about-content">
            <p>
              Asociația Annah este o organizație romana neguvernamentala, non-profit, care a luat ființă în anul 2011 la inițiativă unui
              grup de voluntari, care și-au propus să aducă schimbare în viețile semenilor lor. Prin acțiunile umanitare
              desfășurate ne propunem să amelioram situațiile unor categorii sociale defavorizate.
            </p>

            <p>
              Ne ocupam cu integrarea sociala a copiilor ce provin din familii nevoiașe, a căror situație socio-economica precara îi expune
              la un risc ridicat de abandon scolar și familial care vă duce mai apoi la marginalizare și excluziune sociala.
            </p>
          </div>
          <article>
            <div class="video-section">
              <div class="video-description">
                <h4>MISIUNE</h4>
                <p> Am decis să aducem schimbare în prezentul lor și speranță într-un viitor mai bun în care să înceapă să creadă
                </p>
              </div>
              <div class="video-container">
                <video max-width="100%" controls>
                  <source src="public/images/presentation_video_ro.mp4" type="video/mp4">
                </video>
              </div>
          </article>

          <div class="about-content">
            <h4> MUNCA NOASTRĂ</h4>
            <p> În urma anchetelor sociale intervenim în mod regulat sau sporadic cu ajutor umanitar (alimente, îmbrăcăminte,
              încălțăminte, medicamente, rechizite, etc.) pentru persoanele aflate în situații limita. Susținem peste 100
              de copii prin proiectul Centrul de zi Bucuria Copiilor asigurandu-le o masa calda, dezvoltare pesonala și educație
              nonformala atât pentru evitarea abandonului familial și scolar cât și pentru integrare sociala.
            </p>
            <p>
              Organizam tabere de vara cu acești copii cu momente unice și marcante pentru copilăria lor. Cu ocazia sărbătorilor de Crăciun
              și Paște oferim cadouri pentru oamenii nevoiași.
            </p>
            <div class="beneficiar">
              <div class="beneficiar-description">
                <h4> BENEFICIARI </h4>
                <p> Persoane aflate în dificultate, la limita subzistentei indiferent de vârstă și sex. Copiii care sunt: </p>
                <ul>
                  <li>în familii fară adăpost sau cu un adăpost incert și inadecvat</li>
                  <li> din familii monoparentale si/sau cu multi copii</li>
                  <li> cu un nivel redus de educatie</li>
                  <li>care se confrunta cu o sărăcie severa, singura lor sursa de venit fiind alocația copiilor</li>
                  <li>copii din familii în care violență, abandonul școlar și familial, consumul de diferite tipuri de droguri
                    sunt frecvente
                  </li>
                </ul>
              </div>

            </div>
          </div>
          </div>
          <article>
            <div class="beneficiar-image">
              <img src="/public/images/header1.png" width="auto" height="112px">
            </div>
            <div class="beneficiar-image">
              <img src="/public/images/painting.png" width="auto" height="112px">
            </div>
            <div class="beneficiar-image">
              <img src="/public/images/centre.png" width="auto" height="112px">
            </div>
            <div class="beneficiar-image">
              <img src="/public/images/care-center.jpg" width="200px" height="112px">
            </div>
        </div>
        </article>
    </article>

    <%- include footer.ejs %>
      <script src="/public/jquery.min.js"></script>
      <script src="/public/bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
      <script src="/public/script.js"></script>
</body>