<footer>
    <div class="contact col-md-3">
        <h3>CONTACT</h3>
        <p><span> Telefon: </span> (+40) 748 566 483 </p>
        <p><span>E-mail: </span> contact2annah@gmail.com</p>
        <p><span>Adresa: </span> Strada Lamaitei, nr. X, Cihei </p>
    </div>
    <div class="contact col-md-3">
        <h3 class="title">DESPRE NOI</h3>
        <p><a href="/about" style="color: darkgray;">DESPRE NOI</a></p>
        <p><a href="/contact" style="color: darkgray;">CONTACT</a></p>
        <p><a href="/support" style="color: darkgray;">IMPLICA-TE</a></p>

    </div>
    <div class=" contact col-md-3">
        <h3 class="title">SOCIAL MEDIA</h3>
        <p id="facebook"></p>
        <p id="google"></p>
    </div>
    <div class="newsletter-section col-md-3">

        <form action="/subscribe" method="post" id="newsletter-form">
            <input type="text" name="email" class="form-control" placeholder="email" required style=" margin: 21px auto 19px auto;" />
            <input type="checkbox" class="newsletter-checkbox" style="display:inline-block; width:15%;" />
            <p>Accept să fiu contactat prin e-mail și accept prelucrarea datelor mele în conformitate cu politica noastră de
                confidențialitate și cu cea a Mailchimp. </p>
            <button class="btn btn-block" style="width:20%;background-image: linear-gradient(to right, gray, #9ca0ac); font-size:16px;">Abonare</button>
        </form>
    </div>
</footer>