<nav>
    <div class="navbar-logo">
        <a class="nav-link logo" href="/"></a>
    </div>
    <div style="float:right; margin-right:200px;">
        <a class="nav-link active" href="/" style="color: darkseagreen; vertical-align: middle;">Acasa</a>
        <a class="nav-link" href="/about" style="color: darkseagreen;vertical-align: middle;">Despre noi</a>
        <a class="nav-link" href="/support" style="color: darkseagreen;vertical-align: middle;">Implica-te</a>
        <a class="nav-link" href="/contact" style="color: darkseagreen;vertical-align: middle;">Contact</a>
    </div>
</nav>