<!Doctype html>
<html class="no-js" lang="">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Fundatia Bucuria Copiilor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="public/fonts/ZsyraphDemo.ttf" rel="stylesheet">
    <link rel="stylesheet" href="public/style/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300|Raleway&display=swap" rel="stylesheet">

</head>

<body>
    <%- include navbar.ejs %>
        <div class="header">
            <!-- <div class="header-text">
                <h1> Implicare. Daruire. Speranta</h1>
            </div> -->
        </div>

        <article class="hire introduction">
            <div>
                <div class="support-text"></div>
                <div class="support-quote">
                    <div class="quote-mark"></div>
                    <p>Felul în care dai, contează mai mult decât ceea ce dai.</p>
                    <p class="author">Pierre Cornelile</p>
                </div>
                <div style="text-align:left">
                    <div class="about-title">
                    </div>
                    <div class="about-content support">
                        <h4>SUSȚINEREA ȘI IMPLICAREA DE CARE AVEM NEVOIE</h4>
                        <p>
                            Asigurarea unei mese calde săptămânale pentru cei peste 100 de copii din cadrul proiectului Centrul de zi Bucuria copiilor.
                        </p>
                        <h4>DONAȚII MATERIALE</h4>
                        <p>
                            Mâncare, îmbrăcăminte, încălțăminte, medicamente, dulciuri, produse de îngrijire personala
                        </p>
                        <p> Produsele pot fi donate la sediul fundației situat pe Strada Grădinarilor, nr. 73/A, Cihei, Comuna
                            Sânmartin, Bihor.
                        </p>
                        <h4>DONAȚII FINANCIARE</h4>
                        <p>
                            CONT RON: RO 31 BTRL RON CRT 0049 624 202
                        </p>
                        <p> CONT EURO: RO 78 BTRL EUR CRT 0049 624 202
                        </p>
                        <p> CONT GBP: RO 78 BTRL GBP CRT 0049 624 202
                        </p>
                        <h4>DONATIA DE 2%</h4>
                        <p> Potrivit Codului Fiscal, aveți posibilitatea de a direcționa o parte din impozit către o organizație
                            non-profit pentru a susține proiectele pe care le desfășoară. Pentru a direcționă aceasta suma
                            înspre Fundația Annah, vă rugam să completați Formularul 230. <br/> După completarea acestuia,
                            ne puteți contacta telefonic sau prin e-mail și noi vom ridica formularele completate pentru
                            depunerea acestora la Agenţia Judeţeană a Finanţelor Publice Bihor.

                        </p>
                    </div>
                </div>
            </div>

            </div>

            </div>
        </article>

        <%- include footer.ejs %>
        
        <script src="/public/jquery.min.js"></script>
        <script src="/public/bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
</body>