<!Doctype html>
<html class="no-js" lang="">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Fundatia Bucuria Copiilor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="public/fonts/ZsyraphDemo.ttf" rel="stylesheet">
    <link rel="stylesheet" href="public/style/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300|Raleway&display=swap" rel="stylesheet">

</head>

<body>
    <%- include navbar.ejs %>
        <div class="header">
            <!-- <div class="header-text">
                <h1> Implicare. Daruire. Speranta</h1>
            </div> -->
        </div>

        <article class="hire introduction">
            <div>
                <div class="support-text"></div>
                <div class="support-quote">
                    <div class="quote-mark"></div>
                    <p>Felul in care dai, conteaza mai mult decat ceea ce dai.</p>
                    <p class="author">Pierre Cornelile</p>
                </div>
                <div style="text-align:left">
                    <div class="about-title">
                    </div>
                    <div class="about-content support">
                        <h4>SUSTINEREA SI IMPLICAREA DE CARE AVEM NEVOIE</h4>
                        <p>
                            Asigurarea unei mese calde saptamanale pentru cei peste 100 de copii din cadrul proiectului Centrul de zi Bucuria copiilor.
                        </p>
                        <h4>DONATII MATERIALE</h4>
                        <p>
                            Mancare, imbracaminte, incaltaminte, medicamente, dulciuri, produse de ingrijire personala
                        </p>
                        <p> Produsele pot fi donate la sediul fundatiei situat pe Strada Gradinarilor, nr. 73/A, Cihei, Comuna
                            Sanmartin, Bihor.
                        </p>
                        <h4>DONATII FINANCIARE</h4>
                        <p>
                            CONT RON: RO 31 BTRL RON CRT 0049 624 202
                        </p>
                        <p> CONT EURO: RO 78 BTRL EUR CRT 0049 624 202
                        </p>
                        <p> CONT GBP: RO 78 BTRL GBP CRT 0049 624 202
                        </p>
                        <h4>DONATIA DE 2%</h4>
                        <p> Potrivit Codului Fiscal, aveti posibilitatea de a direcționa o parte din impozit către o organizatie
                            non-profit pentru a susține proiectele pe care le desfasoara. Pentru a directiona aceasta suma
                            inspre Fundatia Annah, va rugam sa completati Formularul 230. <br/>După completarea acestuia,
                            ne puteti contacta telefonic sau prin e-mail și noi vom ridica formularele completate pentru
                            depunerea acestora la Agenţia Judeţeană a Finanţelor Publice Bihor.

                        </p>
                    </div>
                </div>
            </div>

            </div>

            </div>
        </article>

        <footer>
            <div class="contact col-md-4">
                <h3>CONTACT</h3>
                <p>Telefon: (+40) 748 566 483 </p>
                <p> E-mail: contact2annah@gmail.com</p>
            </div>
            <div class=" contact col-md-4">
                <h3 class="title">ARTICLES</h3>
                <p><a href="/about" style="color: darkgray;">ABOUT US</a></p>
                <p><a href="/contact" style="color: darkgray;">CONTACT</a></p>
                <p><a href="/support" style="color: darkgray;">IMPLICA-TE</a></p>
            </div>
            <div class=" contact col-md-4">
                <h3 class="title">SOCIAL MEDIA</h3>
                <p id="facebook"></p>
                <p id="linkedin"></p>
                <p id="twitter"></p>
                <p id="google"></p>
            </div>
        </footer>
        <script src="/public/jquery.min.js"></script>
        <script src="/public/bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
</body>